<nb-card [size]="breakpoint.width >= breakpoints.sm ? 'large' : 'medium'">
  <nb-card-header>
    <div *ngIf="analysis != null">
      <p class="text-center text-danger" *ngIf="!analysis.suitableForOrganism">
        A {{levelType}} level of {{latestReading.value}} is not suitable for {{organism.name}}.
      </p>
      <p class="text-center text-warning" *ngIf="analysis.suitableForOrganism && !analysis.idealForOrganism">
        A {{levelType}} level of {{latestReading.value}} is not ideal for {{organism.name}} but is suitable.
      </p>
      <p class="text-center text-success" *ngIf="analysis.idealForOrganism">
        A {{levelType}} level of {{latestReading.value}} is ideal for {{organism.name}}.
      </p>
    </div>
    <div class="input-group" *ngIf="!editing">
      <div class="dropdown input-group-btn" ngbDropdown>
        <button type="button" class="btn btn-success dropdown-toggle" ngbDropdownToggle>
          Action
        </button>
        <ul class="dropdown-menu" ngbDropdownMenu>
          <li class="dropdown-item" (click)="addLevelsModal()">Add level readings</li>
          <li class="dropdown-item" (click)="addComponentModal()">Edit System</li>
          <li class="dropdown-item" (click)="changeChartDetails()">Change chart details</li>
        </ul>
      </div>
      <span class="form-control">{{system.name}}</span>
    </div>
    <div class="input-group" *ngIf="editing">
      <span class="input-group-btn">
        <button class="btn btn-success" (click)="changeChartDetails()">
          Save
        </button>
      </span>
      <select class="form-control" (change)="organismChange($event.target.value)">
        <option
          *ngFor="let o of systemOrganisms"
          [selected]="o.id == organismId"
        >
          {{o.name}}
        </option>
      </select>
      <select class="form-control" (change)="levelTypeChange($event.target.value)">
        <option
          *ngFor="let lt of levelTypeKeys()"
          [selected]="lt == levelType"
        >
          {{lt}}
        </option>
      </select>
    </div>
  </nb-card-header>
  <nb-card-body [ngBusy]="loadChartBusy">
        <ngx-levels-chart
      [levelType]="levelType"
      [levelReadings]="levelReadings"
      [tolerance]="tolerance"></ngx-levels-chart>
  </nb-card-body>
</nb-card>



