@import '../../../@theme/styles/themes';
button {
  width: 108px;
}

@include nb-install-component() {
  nb-card-body {
    padding: 0;
    /deep/ {
      text {
        fill: nb-theme(color-fg-heading);
      }
      .chart-legend {
        .legend-labels {
          background: nb-theme(color-bg);
        }
        .legend-label {
          color: nb-theme(color-fg-heading);
          .active .legend-label-text {
            color: nb-theme(color-fg-heading);
          }
        }
      }
    }
  }
}
