<div class="row card-group">
  <div class="col-12 col-md-4 mb-3" *ngFor="let a of analysis">
    <nb-card class="h-100">
      <nb-card-header>
        <div class="{{cardClass(a)}}">
          {{a.title}}
        </div>
      </nb-card-header>
      <nb-card-body>
        {{a.message}}
      </nb-card-body>
    </nb-card>
  </div>

  <nb-card class="h-100" *ngIf="analysis.length === 0">
    <nb-card-header>
      <div class="text-success">
       All is well
      </div>
    </nb-card-header>
    <nb-card-body>
      There were no issues found.
    </nb-card-body>
  </nb-card>
</div>
