<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Form without labels</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Name"
              [(ngModel)]="newAquaponicSystem.Name" >
          </div>
          <button
            type="submit"
            class="btn btn-success"
            (click)="onCreateAquaponicSystem()">
              Add System
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

#
