<form
  class="form-horizontal"
  [formGroup]="toleranceForm"
  (ngSubmit)="onSubmit()">

<div class="modal-header">
  <span>Add Tolerance</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="form-group row">
      <label for="tolerance" class="col-sm-3 form-control-label">Tolerance</label>
      <div class="col-sm-9">
        <select
          id="tolerance"
          class="form-control"
          formControlName="tolerance"
          (change)="onToleranceChange()"
        >
          <option *ngFor="let addTolerancesCommand of addTolerancesCommandsKeys"
                  [value]="addTolerancesCommand">
            {{addTolerancesCommand}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="upper" class="col-sm-3 form-control-label">Upper</label>
      <div class="col-sm-9">
        <input
          id="upper"
          type="number"
          class="form-control"
          formControlName="upper"
        />
        <span
          class="help-block invalid-feedback"
          *ngIf="!toleranceForm.get('upper').valid && toleranceForm.get('upper').touched"
        >
          upper {{validationErrorMessage}}
        </span>
      </div>
    </div>
    <div class="form-group row">
      <label for="lower" class="col-sm-3 form-control-label">Lower</label>
      <div class="offset-sm-3 col-sm-9">
        <input
          id="lower"
          type="number"
          class="form-control"
          formControlName="lower"
        />
        <span
          class="help-block invalid-feedback"
          *ngIf="!toleranceForm.get('lower').valid && toleranceForm.get('lower').touched"
        >
          lower {{validationErrorMessage}}
        </span>
      </div>
    </div>
    <div class="form-group row">
      <label for="desiredUpper" class="col-sm-3 form-control-label">Desired Upper</label>
      <div class="offset-sm-3 col-sm-9">
        <input
          id="desiredUpper"
          type="number"
          class="form-control"
          formControlName="desiredUpper"
        />
        <span
          class="help-block invalid-feedback"
          *ngIf="!toleranceForm.get('desiredUpper').valid && toleranceForm.get('desiredUpper').touched"
        >
          desired upper {{validationErrorMessage}}
        </span>
      </div>
    </div>
    <div class="form-group row">
      <label for="desiredLower" class="col-sm-3 form-control-label">Desired Lower</label>
      <div class="offset-sm-3 col-sm-9">
        <input
          id="desiredLower"
          type="number"
          class="form-control"
          formControlName="desiredLower"
        />
        <span
          class="help-block invalid-feedback"
          *ngIf="!toleranceForm.get('desiredLower').valid && toleranceForm.get('desiredLower').touched"
        >
          desired lower {{validationErrorMessage}}
        </span>
      </div>
    </div>

</div>

<div class="modal-footer">
  <button
    class="btn btn-md btn-primary"
    type="submit"
    [disabled]="!toleranceForm.valid"
  >
    Add Tolerance
  </button>
</div>
</form>
