<nb-card>
  <nb-card-header *ngIf="allowEdit">
    <div class="input-group">
      <div class="dropdown input-group-btn" ngbDropdown>
        <button type="button" class="btn btn-success dropdown-toggle" ngbDropdownToggle>
          Action
        </button>
        <ul class="dropdown-menu" ngbDropdownMenu>
          <li
            class="dropdown-item"
            (click)="addTolerance()"
            *ngIf="addTolerancesCommandsKeys.length > 0"
          >Add Tolerance</li>
          <li class="dropdown-item" (click)="deleteOrganism()">Delete Organism</li>
        </ul>
      </div>
      <input
        #organismName
        type="text"
        class="form-control"
        [(ngModel)]="organism.name"
        (change)="onNameChange()" [ngBusy]="busy">
    </div>
  </nb-card-header>
  <nb-card-body>
    <h2>
      Tolerances
    </h2>

    <ng2-smart-table
      #tolerances
      [source]="source"
      (deleteConfirm)="onDeleteToleranceConfirm($event)"
      (editConfirm)="onEditToleranceConfirm($event)"
    >
    </ng2-smart-table>

  </nb-card-body>
</nb-card>
