<div class="modal-header">
  <span>Component</span>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group row">
    <label for="name" class="col-sm-3 col-form-label">Name</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Component Name"
        [(ngModel)]="component.name">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <ng2-smart-table
        [settings]="settings"
        [source]="source"
        (userRowSelect)="onUserRowSelect($event)">
      </ng2-smart-table>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-md btn-primary" (click)="addComponent()">Add Component</button>
</div>
