:host /deep/ tr {
  cursor: pointer;
}

:host /deep/ td {
 min-width: 80px;
}

:host {
  /deep/ {
    .organism-list {
      table {
        tr.selected {
          background-color: #00d977 !important;
        }
      }
    }
  }
}
