<div class="form-group row">
  <label for="levelValue" class="col-sm-3">{{type}}</label>
  <div class="col-sm-9">
    <div class="input-group">
      <input
        id="levelValue"
        type="number"
        placeholder="{{type}} Value"
        class="form-control"
        [formControl]="control"
        [(ngModel)]="levelReading.value"
      />
      <span class="input-group-btn">
        <button class="btn btn-danger" (click)="deleteValue()">
          <i class="ion-android-delete" aria-hidden="true" ></i>
        </button>
      </span>
    </div>
    <span
      class="help-block invalid-feedback"
      *ngIf="!control.valid && control.touched"
    >
        {{type}} {{validationErrorMessage}}
      </span>
  </div>
</div>
