<form [formGroup]="challengeForm" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <span>{{confirmModalTitle}}</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <div class="col-sm-12">
        {{challengeQuestion}}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12">
        <input
          id="userAnswer"
          type="text"
          title="User Answer"
          formControlName="userAnswer" />
        <span class="help-block">
          Your input does not match {{challengeAnswer}}
        </span>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-md btn-primary" (click)="closeModal()">Cancel</button>
    <button
      class="btn btn-md btn-warning"
      type="submit"
    >{{confirmModalButtonText}}</button>
  </div>
</form>
