<div class="row mb-3">
  <div class="col-md-12" [ngBusy]="loadAquaponicSystemBusy">
    <div class="input-group">
      <div class="dropdown input-group-btn" ngbDropdown >
        <button type="button" class="btn btn-success dropdown-toggle" ngbDropdownToggle>
          Action
        </button>
        <ul class="dropdown-menu" ngbDropdownMenu>
          <li class="dropdown-item" (click)="editSystem()" *ngIf="!editing">Edit System</li>
          <li class="dropdown-item" (click)="addLevelsModal()" *ngIf="!editing">Add level readings</li>
          <li class="dropdown-item" (click)="addComponentModal()" *ngIf="editing">Add Component</li>
          <li class="dropdown-item" (click)="editComponentModal()"
              *ngIf="editing && aquaponicSystem.components.length > 0">
            Edit Component
          </li>
          <li class="dropdown-item" (click)="deleteComponentModal()"
              *ngIf="editing && aquaponicSystem.components.length > 0">
            Delete Component
          </li>
          <li class="dropdown-item" (click)="saveSystem()" *ngIf="editing">Finish Editing</li>
          <li class="dropdown-item" (click)="deleteSystem()" *ngIf="editing">Delete System</li>
        </ul>
      </div>
      <input
        #systemName
        type="text"
        class="form-control"
        [(ngModel)]="aquaponicSystem.name"
        (change)="onNameChange()"
        [ngBusy]="loadSystemComponentBusy"
        [disabled]="!editing">
    </div>
  </div>
</div>
<ngx-aquaponic-system-analysis
  [systemId]="systemId"
  *ngIf="!editing">
</ngx-aquaponic-system-analysis>
<div class="row" *ngIf="editing">
  <div class="col-md-12" [ngBusy]="loadSystemComponentBusy">
    <nb-tabset
      #componentTabs
      *ngIf="aquaponicSystem.components.length > 0">
      <nb-tab
        *ngFor="let systemComponent of aquaponicSystem.components"
        tabTitle="{{systemComponent.name}}"
        route="{{systemComponent.id}}"
        [active]="aquaponicSystem.components[0].id == systemComponent.id"
      >
        <ngx-organisms #organism [allowEdit]="false" [organismIds]="systemComponent.organisms"></ngx-organisms>
      </nb-tab>
    </nb-tabset>
    <nb-card *ngIf="aquaponicSystem.components.length === 0">
      <nb-card-header>
        <div class="text-warning">
          System has no components
        </div>
      </nb-card-header>
      <nb-card-body>
        You can add a component though the action dropdown.
      </nb-card-body>
    </nb-card>
  </div>
</div>
