<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="input-group">
          <div class="dropdown input-group-btn" ngbDropdown>
            <button type="button" class="btn btn-success dropdown-toggle" ngbDropdownToggle>
              Action
            </button>
            <ul class="dropdown-menu" ngbDropdownMenu>
              <li class="dropdown-item" (click)="addLevelsModal()">Add level readings</li>
            </ul>
          </div>
          <input
            #systemName
            type="text"
            class="form-control"
            [(ngModel)]="aquaponicSystem.name"
            (change)="onNameChange()">
        </div>
      </nb-card-header>
      <nb-card-body>
        <nb-tabset #componentTabs>
          <nb-tab *ngFor="let systemComponent of aquaponicSystem.components" tabTitle="{{systemComponent.name}}">
            <ngx-aquaponics-system-component [systemComponent]="systemComponent"></ngx-aquaponics-system-component>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>
